.card-label__container {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.card-label__content {
    height: 40px;
    padding: 0px 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0d0d0ded;
    color: white;

    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: bold;
}