<div class="home__container">
    <app-card
        gameCover="../../../assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital | ps4 | ps5"
        gamePrice="R$ 350,00"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-5.jpg"
        gameLabel="Exclusivo"
        gameType="Digital | ps4 | ps5"
        gamePrice="R$ 250,00"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-hardline.jpg"
        gameLabel="Digital"
        gameType="ps3| ps4 | ps5"
        gamePrice="R$ 150,00"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-4.jpg"
        gameLabel="Digital"
        gameType="Disc | ps4 | ps5"
        gamePrice="R$ 100,00"
    ></app-card>

    <app-card
        gameCover="../../../assets/bt-bad-company-2.jpg"
        gameLabel="Digital"
        gameType="Disc | ps3 | ps4 | ps5"
        gamePrice="R$ 90,00"
    ></app-card>

    <app-card
        gameCover="../../../assets/ac-cover.jpg"
        gameLabel="GOTY"
        gameType="Disc | ps3 | ps4 | ps5"
        gamePrice="R$ 75,00"
    ></app-card>
</div>
